* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
  border: none;
}

:root {
  --body-font-family: "Roboto", sans-serif;
  --body-font-size: 14px;

  --primary-font-color: rgba(0, 0, 0, 0.87);
  --title-color: #222332;
  --hint-pointer-color: #95abb7;
  --info-payment-text: #b5b0b0;

  --light-font-color: rgb(181, 176, 176);

  --form-background: #ffffff;
  --form-border-radius: 10px;

  --item-active-bgc: #f3f4f8;

  --active-link-bgc: #465368e6;
  --active-link-font-color: #fff;

  --exchange-verification-color: #4c9100;

  --banners-title-color: #29303e;
  --banners-text-color: rgba(41, 48, 62, 0.5);
  --service-break-title-color: #3e4756;
  --btn-bgc: #5568d4;
  --iex-mobile-home-welcome-text: #4a5861;
  --warning-offline-bg: #bd0303;
  --iex-offline-color: #fff;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--body-font-family);
  font-size: --body-font-size;
  color: --primary-font-color;
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  display: flex;
}

.container {
  width: 1250px;
  margin: 0 auto;
  min-height: 100%;
  margin-block: 50px;
}

.sections-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--form-background);
  border-radius: var(--form-border-radius);
  & > .section {
    width: calc(100% / 3);
    min-height: 100%;
    padding: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/* SECTIONS */

.we-change-section {
  border-right: none;
}

.title {
  font-size: 22px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 30px;
}

/* CURRENCY - WRAPPER */

.currency-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 20px;
}

.currency__input {
  width: 100%;
  height: 60px;
  cursor: pointer;
  background-color: var(--item-active-bgc);
  border-radius: var(--form-border-radius);
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.curency__field {
  background-color: transparent;
  flex: 1;
}

.currency__info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.currency__title {
  font-size: 18px;
  color: #000000de;
}

.currency__icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.hint-pointer {
  display: flex;
  gap: 8px;
  color: var(--hint-pointer-color);
  font-size: 11.5px;
  font-weight: 400;
}

.from,
.from__value {
  color: #ff2222;
}

.hint-pointer__from,
.hint-pointer__before {
  display: flex;
  gap: 5px;
}

.from__value,
.before__value {
  text-decoration: underline;
  cursor: pointer;
}

/* MENU */

.menu {
  width: 100%;
}

.nav {
  width: 100%;
  margin-bottom: 20px;

  .nav__list {
    width: 100%;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: var(--form-border-radius);
  }

  .nav__item,
  .nav__item_active {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: transparent;
    font-weight: 400;
    padding: 0 10px;
    line-height: 45px;
    color: var(--primary-font-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: inherit;
    &:hover {
      background-color: #bbbbbbb4;
      border-radius: inherit;
    }
  }

  .nav__item:last-child {
    border-right: none;
  }

  .nav__item[data-active='true'] {
    font-weight: 500;
    background-color: var(--active-link-bgc);
    color: var(--active-link-font-color);
    &:hover {
      background-color: #465368ab;
    }
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item,
.item_active {
  width: 100%;
  height: 55px;
  padding-inline: 15px;
  display: flex;
  border-radius: var(--form-border-radius);
  align-items: center;
  justify-content: start;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    background-color: #f3f4f8b3;
  }
}

.item_active {
  background-color: var(--item-active-bgc);
}

.item__logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.item__text {
  font-size: 15px;
  color: #222332;
}

.item__additional-info {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13.5px;
  font-weight: 400;
}

[data-id="you-receive-item"] {
  display: flex;
  justify-content: space-between;
  .item__additional-info {
    display: flex;
    align-items: center;
    gap: 4px;
    p {
      font-size: 13.5px;
      font-weight: 400;
    }
  }

  .item__text {
    margin-right: 40px;
  }

  .county-currency {
    color: #b6b6b6;
  }
}

.exchange-rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.exchange-rate__value {
  display: flex;
  gap: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #111111;
}

.description {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  background-color: #fbfbfb;
  gap: 15px;
  padding: 8px 35px 8px 13px;
  font-size: 14px;
  color: #5f5f5f;

  .description__top {
    font-weight: 500;
  }
}

.info-payment-text {
  color: var(--info-payment-text);
  font-size: 12px;
  text-transform: capitalize;
}

.input-wrapper {
  background-color: #f3f4f8;
  height: 58px;
  width: 100%;
  border-radius: var(--form-border-radius);
  display: flex;
  padding-inline: 15px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;

  .card-number-field,
  .email-field {
    background-color: transparent;
    flex: 1;
    height: 100%;
  }
}

.go-payment-button {
  background-color: var(--btn-bgc);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  border-radius: var(--form-border-radius);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #5568d4ce;
  }
}

.chat {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1000;
  width: 400px;
  border-radius: var(--form-border-radius);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.02), 0 8px 24px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  display: none;

  .chat__head {
    height: 150px;
    width: 100%;
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
  }
  .chat__content-area {
    width: 100%;
    height: 490px;
    background-color: #fff;
    padding: 10px;
  }
  .chat__message-area {
    width: 100%;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    height: 60px;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;

    .message-field {
      height: 100%;
      font-size: 13.6px;
      color: #1c293b;
      cursor: pointer;
    }
  }
}

.chat[data-open="false"] {
  display: none;
}
.chat[data-open="true"] {
  display: block;
}

.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;

  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #1972f5;
}

.chat-icon-close {
  display: none;
}

.currency__menu .item__text,
.banks__menu .item__text {
  width: calc(100% - 50px);
}

.short__text{
  width: 50px;
}

.menu__list {
  display: none;
}

.menu__list[data-active='true'] {
  display: block;
}

.not__allowed__block {
  text-align: center;
  display: none;
}

.menu[data-block='true'] .not__allowed__block {
  display: block;
}

.menu[data-block='true'] .menu__list {
  display: none;
}

.menu__item.item[data-active='true'] {
  background-color: #d5d5d5
}